
body 
{
    background: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 1300px;
    padding: 10px;
    background: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
}
.container .left-side
{
    position: relative;
    background:wheat;
    padding: 0 30px;
}

.profile
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.profile__letter{
    font-size: 40px;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}
.profile__job
{
    color:green;
    font-size: 35px;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}
.contacts__list
{
    position: relative;
    padding: 0px;
    margin: 0;
}
.contacts__item
{
    list-style: none;
    position: relative;
    margin: 10px 0;
}
.contacts-item__link
{
   text-decoration: none;
}

.contacts-item__icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: green;
}
.contacts-item__text
{
    font-weight: 300;
    font-family: URW Chancery L, cursive;
    color: black;
}
.my-self__about
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}
.my-self__text
{
    font-family: URW Chancery L, cursive;
}
.education__title
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}

.education__list
{
    list-style: none;
    position: relative;
    padding: 0px;
}
.education__item
{
    margin: 65px 0px; /*30px 0*/
    position: relative;
    line-height: 10px;   
    font-family: URW Chancery L, cursive; 
}
.education__item:first-child {
    margin-top: 30px;
}

.education-item__id {
    color: green;
    margin-right: 10px;
}
.education-item__icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: green;
}
#button-id {
    margin-top: 35px;
}

.education-item__button {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 30px;
    left: 0;
    padding: 7px 0px; 
    text-decoration: none;
    background: #FFFFFF;
    margin-top: 0px;
    box-sizing: border-box;
    border: 2px solid green;
    color: black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family:  URW Chancery L, cursive;
    font-weight: bold;
}

.education-item__job
{
    color: green;
}
.experience__title
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}
.experience__list
{
    list-style: none;
    position: relative;
    padding: 0px;
    font-family: URW Chancery L, cursive;
}
.experience__item
{
    margin: 30px 0px;
    position: relative;
    line-height: 20px;
}
.experience-item__myjob
{
    color: green;
}
.experience-item__p
{
    font-family: URW Chancery L, cursive;
    font-size: 1.17em;
    font-weight: bold;
}
.experience-item__icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: green;
}

/*--right section---*/
.container .right-side
{
    position: relative;
    background: white; 
}
.my-img
{
    position: relative;
    width: 300px;
    height: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26.8px;
    border-radius: 50%;
    overflow: hidden;
   
}
.my-img img
{
    position: absolute;
    height: 100%;
    object-fit: cover;
   
}
.tech-skills__title
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top: 66px;
   
}
.tech-skills {
    display: grid;
    grid-template-columns: 1fr;

}

.tech-skills__technology
{
    position: relative;
    text-align: center;
   /* width: 100%;
    display: grid;
    grid-template-columns: 100px 0.9fr;
     grid-auto-rows: 40px;
    justify-content: center;
    align-items: center;*/
    font-family: URW Chancery L, cursive; 
}

.tech-skills__technology h4 {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-out;
}

.tech-skills__technology .level
{
    position: relative;
    width: 100%;
    height: 20px;
    background:grey;
}
.tech-skills__technology .level div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
}
.code-exemples
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.code pre code
{
    position: relative;
    right: 60px;
    max-width: 100%;
}
.languages__title
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}
.languages__list
{
    list-style: none;
    position: relative;
    padding: 0px;
}
.languages__item
{
    margin: 30px 0px;
    position: relative;
    line-height: 10px;   
}
.languages__item-text
{
    display: inline-block;
    width: 100px;
    font-size: 22px;
    color: green;
    font-family: URW Chancery L, cursive;
}
.languages__item-leve
{
    display: inline-block;
    font-size: 18px;
    font-family: URW Chancery L, cursive;
}
.code pre code .orange
{
    color: orange;
}
.code pre code .blue
{
    color: blue;
}
.code pre code .green
{
    color: green;
}
.code pre code .red
{
    color: rgb(226, 107, 171)
}
.code pre code .blueviolet
{
    color: blueviolet;
}
.code {
    margin-top: 40px;
}

.my-prodjects__title {
   
    font-family: Arial, sans-serif;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top: 30px;
}
.my-prodjects__item {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}
.my-prodjects__list {
    display: flex;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 1.25rem;
    border: 1px solid #E3E1D5;
    margin-left: 20px;
    margin-right: 10px;
}
.footer {
    display: flex;
    height: 70px;
    background:wheat;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;   
}
.prodject-logo-momentum {
    position: relative;
    width: 70px;
    height: 70px;
    transition: 1s;
   /* margin-left: 100px;*/
  /* left: 725px;*/
}
.prodject-logo-shelter{
    position: relative;
    width: 70px;
    height: 70px;
    transition: 1s;
}
.prodject-logo-plants {
    position: relative;
    width: 110px;
    height: 80px;
    transition: 1s;
}
.prodject-logo-plants:hover {
    transform: scale(1.2);
}
.prodject-logo-shelter:hover {
    transform: scale(1.2);
}
.prodject-logo-momentum:hover {
    transform: scale(1.2);
}
.footer-item__logo {
    position: relative;
    width: 80px;
    height: 80px;
    transition: 1s;
   
}
.footer-item__logo:hover{
    transform: scale(1.2);
}
.footer-item {
    margin: 0;
    text-align: center;
}  
.footer-item__icon {
    position: relative;
    display: inline-block;
    color: black;
    text-align: center;
    transition: 1s;
}
.footer-item__icon:hover{
    transform: scale(1.2);
}
.footer-item__year {
    position: relative;
  /*  left: 800px;*/
    font-weight: 300;
    font-family: URW Chancery L, cursive;
}
@media screen and (max-width: 925px){
    .my-self__text {
        font-size: 15px;
    }
    .profile__letter {
        font-size: 30px;
    }
    .profile__job {
        font-size: 30px;
    }
    .my-self__about {
        font-size: 30px;
    }
    .education-item__title{
        font-size: 15px;
    }
    .education-item__job{
        font-size: 15px;
    }
    .education-item__data{
        font-size: 15px;
    }
    .education-item__p{
        font-size: 15px;
    }
    .education__title {
        font-size: 30px;
    }
    .experience__item {
        font-size: 15px;
    }
    .experience__title {
        font-size: 30px;
    }
    .experience-item__p{
        font-size: 15px;
    }
    .languages__item-text {
        font-size: 17px;
    }
    .languages__item-leve {
        font-size: 17px;
    }
    .languages__title {
        font-size: 30px;
    }
    .tech-skills__title {
        font-size: 30px;
    }
    .my-prodjects__title {
        font-size: 30px;
    }
    .code_exemples {
        font-size: 30px;
    }
    .container .left-side{
        padding: 10px;
    }
    /*right part*/
    .tech-skills__technology{
        margin-bottom: -10px;
    }
    .my-prodjects__list {
        width: 350px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 925px){
    .my-prodjects__list {
        width: 300px;
    }
    .my-prodjects__item {
        margin-right: 30px;
    }
    .code pre code{
        position: relative;
        right: 150px;
        width: 300px;
        display: block;
    }
    
    .my_img {
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 700px){
    .code pre code{
        right: 200px;
       
    }
    .my-prodjects__list {
        width: 250px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .prodject-logo-momentum {
        width: 50px;
        height: 50px;
    }
    .prodject-logo-plants{
        width: 80px;
        height: 70px;
    }
    .prodject-logo-shelter{
        width: 50px;
        height: 50px;
    }
    .my-prodjects__item {
        margin-left: 20px;
        margin-right: 0;

    }
    .my-prodjects__title {
        margin-bottom: 30px;
    }
    .education ul li h3{
        line-height: 18px;
    }
   
}