
body 
{
    background: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 1300px;
    margin: 10px;
    background: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
}
.container .left_side
{
    position: relative;
    background:wheat;
    padding: 0 30px;
}
.container .right_side
{
    position: relative;
    background: white; 
}
.my_img
{
    position: relative;
    width: 300px;
    height: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26.8px;
    border-radius: 50%;
    overflow: hidden;
   
}
.my_img img
{
    position: absolute;
    height: 100%;
    object-fit: cover;
   
}
.contacts_profile
{
    position: relative;
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
    padding-bottom: 20px;
  /*  border-bottom: 1px solid;*/
}
.letter{
    font-size: 40px;
    font-family: Arial, sans-serif;
}
.letter_job
{
    color:green;
    font-size: 35px;
    font-family: Arial, sans-serif;
}
.contacts ul
{
    position: relative;
    padding: 0px;
    top: -40px;
}
.contacts ul li
{
    list-style: none;
    position: relative;
    margin: 10px 0;
}
.contacts ul li a
{
   text-decoration: none;
}
.contacts .text_contact {
    color: black;
}
.contacts ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: green;
}
.contacts ul li span
{
    font-weight: 300;
    font-family: URW Chancery L, cursive;
}
.about_myself
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}
.my_self h3
{
    font-family: URW Chancery L, cursive;
}
.title_education
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}

.education ul
{
    list-style: none;
    position: relative;
    padding: 0px;
}
.education  li
{
    margin: 65px 0px; /*30px 0*/
    position: relative;
    line-height: 10px;    
}
.education ul li:first-child {
    margin-top: 30px;
}

.education ul li p .id {
    color: green;
}
.education ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: green;
}
.education ul li  h3{
    font-family: URW Chancery L, cursive;
    
}
#button_id {
    margin-top: 35px;
}

.button {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 30px;
    left: 0;
    padding: 7px 0px; 
    text-decoration: none;
    background: #FFFFFF;
    margin-top: 0px;
    box-sizing: border-box;
    border: 2px solid green;
    color: black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family:  URW Chancery L, cursive;
    font-weight: bold;
}

.education ul li .my_job
{
    color: green;
}
.title_experience
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}
.experience ul
{
    list-style: none;
    position: relative;
    padding: 0px;
}
.experience li
{
    margin: 30px 0px;
    position: relative;
    line-height: 20px;
}
.experience ul li .my_experience
{
    color: green;
}
/*.experience ul li h3
{
    font-family: URW Chancery L, cursive;
}*/
.experience ul li p
{
    font-family: URW Chancery L, cursive;
    font-size: 1.17em;
    font-weight: bold;
}

.experience ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: green;
}
.title_skills
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top: 66px;
}

.tech_skills .technology
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 0.9fr;
     grid-auto-rows: 40px;
    justify-content: center;
    align-items: center;
    font-family: URW Chancery L, cursive;
    
}
.tech_skills .technology .level
{
    position: relative;
    width: 100%;
    height: 20px;
    background:grey;
}
.tech_skills .technology .level div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
}
.code_exemples
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: flex;
}
.code pre code
{
   position: absolute;
   right: 45px;
   max-width: 140%;
}
.title_languages
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}
.languages ul 
{
    list-style: none;
    position: relative;
    padding: 0px;
}
.languages li
{
    margin: 30px 0px;
    position: relative;
    line-height: 10px;   
}
.languages ul li .text_languages
{
    display: inline-block;
    width: 100px;
    font-size: 22px;
    color: green;
    font-family: URW Chancery L, cursive;
}
.languages ul li .level_languages
{
    display: inline-block;
    font-size: 18px;
    font-family: URW Chancery L, cursive;
}
.tech_skills .technology .level .level_html
{
    width: 65%;
}
.tech_skills .technology .level .level_css
{
    width: 70%;
}
.tech_skills .technology .level .level_mysql
{
    width: 80%;
}
.tech_skills .technology .level .level_sequalize
{
    width: 83%;
}
.tech_skills .technology .level .level_javascript
{
    width: 70%;
}
.tech_skills .technology .level .level_react
{
    width: 75%;
}
.tech_skills .technology .level .level_git
{
    width: 80%;
}
.code pre code .orange
{
    color: orange;
}
.code pre code .blue
{
    color: blue;
}
.code pre code .blueviolet
{
    color: blueviolet;
}
.code {
    margin-top: 60px;
}

/*.certificate {
   
    font-family: Arial, sans-serif;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top: 30px;
}
.my_certificate ul li {
    list-style: none;
    display: inline-block;
}
.my_certificate ul li:first-child {
    margin-right: 150px;
}

.my_certificate ul {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 1.25rem;
    border: 1px solid #E3E1D5;
    margin-left: 20px;
    margin-right: 20px;
   
}*/

.footer {
    display: flex;
    height: 70px;
    background:wheat;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;   
}
.footer_logo {
    position: relative;
    width: 80px;
    height: 60px;
   /* margin-left: 100px;*/
  /* left: 725px;*/
}
.footer_item {
    margin: 0; /* Обнуляем значение отступов */
     /* Отображать как строчный элемент */
    text-align: center;
}  
ul.footer_item li {  
    margin-right: 30px; /* Отступ слева */
    padding: 3px; 
}
.footer_icon {
    position: relative;
    display: inline-block;
    width: 10px;
    /*font-size: 35px;*/
    color: black;
    text-align: center;
   /* left: 770px;*/
}
.year {
    position: relative;
  /*  left: 800px;*/
    font-weight: 300;
    font-family: URW Chancery L, cursive;
}