
body 
{
    background: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 1300px;
   /* padding: 10px; */
    background: white;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
}
.container .left-side
{
    position: relative;
    background:rgb(245, 242, 242);
    padding: 0 20px;
}

.profile
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.profile__letter{
    font-size: 40px;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}
.profile__job
{
    color:green;
    font-size: 35px;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}
.contacts__list
{
    position: relative;
    padding: 0px;
    margin: 0;
}
.contacts__item
{
    list-style: none;
    position: relative;
    margin: 10px 0;
}
.contacts-item__link
{
   text-decoration: none;
}

.contacts-item__icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: green;
}
.contacts-item__text
{
   /* font-weight: 300;
    font-family: URW Chancery L, cursive;*/
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #636060;
}
.my-self__about
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}
.my-self__text
{
   /* font-family: URW Chancery L, cursive;
    font-weight: bold;*/
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
}
.education__title
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}

.education__list
{
    list-style: none;
    position: relative;
    padding: 0px;
}
.education__item
{
    margin: 65px 0px; /*30px 0*/
    position: relative;
    line-height: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
   /* font-family: URW Chancery L, cursive; */
}

.education__item:first-child {
    margin-top: 30px;
}

.education-item__id {
    color: green;
    margin-right: 10px;
}
.education-item__icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: green;
}
#button-id {
    margin-top: 35px;
}

.education-item__button {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 30px;
    left: 0;
    padding: 7px 0px; 
    text-decoration: none;
    background: #FFFFFF;
    margin-top: 0px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #636060;
   /* font-family:  URW Chancery L, cursive;*/
    font-weight: bold;
}


.education-item__job
{
    color: green;
}
.education-item__description {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
}
.experience__title
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid;
}
.experience__list
{
    list-style: none;
    position: relative;
    padding: 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
  /*  font-family: URW Chancery L, cursive;*/
}
.experience__item
{
    margin: 30px 0px;
    position: relative;
    line-height: 20px;
}
.experience-item__myjob
{
    color: green;
}
.experience-item__p
{
   /* font-family: URW Chancery L, cursive;*/
    font-family: 'Georgia';
    font-style: normal;
    line-height: 27px;
    font-size: 1.17em;
    font-weight: bold;
}
.experience-item__icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: green;
}

/*--right section---*/
.container .right-side
{
    position: relative;
    background: white;
    padding: 0 20px;
}
.my-img
{
    position: relative;
    width: 225px;
    height: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26.8px;
    /*border-radius: 50%;*/
    overflow: hidden;
   
}
.my-img img
{
    position: absolute;
    height: 100%;
    object-fit: cover;
   
}
.tech-skills__title
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top: 66px;
   
}
.soft-skills {
    display: grid;
    grid-template-columns: 1fr;
   
}
.soft-skills__title {
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top: 30px;
}
.soft-skills__skills {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #636060;
}
.soft-skills__skills h4 {
    margin-bottom: 5px;
}
.tech-skills {
    display: grid;
    grid-template-columns: 1fr;

}

.tech-skills__technology
{
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #636060;
  
}

.tech-skills__technology h4 {
    /*width: 200px;*/
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s ease-out;
}

.tech-skills__technology .level
{
    position: relative;
    width: 100%;
    height: 20px;
    background:grey;
}
.tech-skills__technology .level div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
}
.code-exemples
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*.code pre code*/
.code__code-exemples
{
    position: relative;
    width: 100%;
    display: block;
}
.code__pre-exemples{
    width: 100%;
}
.languages__title
{
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    /*border-bottom: 2px solid;*/
    margin-top: 35px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.languages__list
{
    list-style: none;
    position: relative;
    padding: 0px;
}
.languages__item
{
    margin: 30px 0px;
    position: relative;
    line-height: 10px;   
}
.languages__item-text
{
    display: inline-block;
    width: 100px;
    font-size: 22px;
    color: green;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
   /* font-family: URW Chancery L, cursive;*/
}
.languages__item-level
{
    display: inline-block;
    font-size: 18px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
   /* font-family: URW Chancery L, cursive;*/
}
.code pre code .orange
{
    color: orange;
}
.code pre code .blue
{
    color: blue;
}
.code pre code .green
{
    color: green;
}
.code pre code .red
{
    color: rgb(226, 107, 171)
}
.code pre code .blueviolet
{
    color: blueviolet;
}
.code {
    margin-top: 40px;
}
.my-prodjects__title {
    font-family: Arial, sans-serif;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top: 30px;
}
.my-prodjects__item {
    list-style: none;
    display: inline-block;
}
.my-prodjects__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 30px;
    text-align: center;
    padding: 0;
    border-radius: 1.25rem;
    border: 1px solid #E3E1D5;
   
}
.footer {
    display: flex;
    background:rgb(245, 242, 242);
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;   
}
.prodject-logo-momentum {
    position: relative;
    width: 70px;
    height: 70px;
    transition: 1s;
   /* margin-left: 100px;*/
  /* left: 725px;*/
}
.prodject-logo-nextjs{
    width: 100px;
    height: 70px;
    transition: 1s;
}
.prodject-logo-shelter{
    position: relative;
    width: 70px;
    height: 70px;
    transition: 1s;
}
.prodject-logo-plants {
    position: relative;
    width: 110px;
    height: 80px;
    transition: 1s;
}
.prodject-logo-plants:hover {
    transform: scale(1.2);
}
.prodject-logo-shelter:hover {
    transform: scale(1.2);
}
.prodject-logo-momentum:hover {
    transform: scale(1.2);
}
.prodject-logo-nextjs:hover {
    transform: scale(1.2);
}
.footer-item__logo {
    position: relative;
    width: 80px;
    height: 80px;
    transition: 1s;
   
}
.footer-item__logo:hover{
    transform: scale(1.2);
}
.footer-item {
    margin-top: 90px;
    /*margin: 0;*/
    text-align: center;
}  
.footer-item__icon {
    position: relative;
    display: inline-block;
    color: black;
    text-align: center;
    transition: 1s;
}
.footer-item__icon:hover{
    transform: scale(1.2);
}
.footer-item__year {
    position: relative;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
}
@media screen and (max-width: 925px){
    .my-self__text {
        font-size: 15px;
    }
    .profile__letter {
        font-size: 30px;
    }
    .profile__job {
        font-size: 30px;
    }
    .my-self__about {
        font-size: 30px;
    }
    .education-item__title{
        font-size: 15px;
    }
    .education-item__job{
        font-size: 15px;
    }
    .education-item__data{
        font-size: 15px;
    }
    .education-item__p{
        font-size: 15px;
    }
    .education__title {
        font-size: 30px;
    }
    .experience__item {
        font-size: 15px;
    }
    .experience__title {
        font-size: 30px;
    }
    .experience-item__p{
        font-size: 15px;
    }
    .languages__item-text {
        font-size: 17px;
    }
    .languages__item-leve {
        font-size: 17px;
    }
    .languages__title {
        font-size: 30px;
    }
    .tech-skills__title {
        font-size: 30px;
    }
    .my-prodjects__title {
        font-size: 30px;
    }
    .code-exemples {
        font-size: 30px;
    }
    .container .left-side{
        padding: 10px;
    }
    /*right part*/
    .container .right-side{
        padding: 10px;
    }
    .tech-skills__technology{
        margin-bottom: -10px;
    }
}
@media screen and (max-width: 925px){
    .my-prodjects__list {
        width: 100%;
    }
    .my-prodjects__item {
       /* margin-right: 30px;*/
    }
    .code__code-exemples{
        position: relative;
        right: 70px;
        width: 100%;
        display: block;
    }
    
    .my-img {
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 767px){
    .code__code-exemples{
       font-size: 11px;
       
    }
    .languages__item-level {
        line-height: 30px;
    }
    .my-prodjects__list {
        width: 100%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        column-gap: 10px;
    }
    .prodject-logo-momentum {
        width: 50px;
        height: 50px;
    }
    .prodject-logo-plants{
        width: 80px;
        height: 70px;
    }
    .prodject-logo-shelter{
        width: 50px;
        height: 50px;
    }
    .my-prodjects__item {
        /*margin-left: 20px;*/
        margin-right: 0;

    }
    .my-prodjects__title {
        margin-bottom: 30px;
    }
    .education ul li h3{
        line-height: 18px;
    }
    .my-img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 640px){
    .code__code-exemples {
        right: 100px;
        font-size: 10px;
    }
    .contacts__list {
        font-size: 13px;
    }
}
@media screen and (max-width: 500px){
    .my-prodjects__list {
        grid-template-columns: 1fr 1fr
    }
    .prodject-logo-shelter {
        width: 40px;
        height: 40px;
    }
    .prodject-logo-plants {
        width: 70px;
        height: 60px;
    }
    .prodject-logo-momentum {
        width: 40px;
        height: 40px;
    }
    .my-img {
        width: 100px;
        height: 100px;
    }
    .profile__letter {
        text-align: center;
        font-size: 18px;
        margin: 10px 0;
    }
    .profile__job {
        text-align: center;
        font-size: 18px;
        margin: 10px 0;
    }
    .my-self__about {
        font-size: 18px;
        text-align: center;
    }
    .education__title {
        font-size: 18px;
        text-align: center;
    }
    .my-self__text {
        font-size: 14px;
    }
    .education__item:first-child {
        margin-top: 0px;
    }
    .education-item__data {
        font-size: 13px;
    }
    .education-item__title {
        text-align: center;
    }
    .education-item__job {
        text-align: center;
    }
    .education__item {
        margin: 20px 0;
    }
    .education-item__p {
        font-size: 13px;
    }
    .experience__title {
        font-size: 18px;
        text-align: center;
    }
    .experiente {
        margin-top: 60px;
    }
    .education-item__button {
        font-size: 13px;
        width: 100px;
        display: block;
        margin: 0 auto;
        position: relative;
    }
    #button-id {
        margin-top: 13px;
    }
    .experience__item {
        margin-top: 16px;
        font-size: 13px;
    }
    .experience-item__title {
        font-size: 15px;
    }
    .experience-item__myjob {
        font-size: 15px;
    }
    .experience__item:last-child {
        margin-bottom: 0px;
    }
    .languages__title {
        font-size: 18px;
        text-align: center;
    }
   .languages__list {
    font-size: 15px;
   }
   .languages__item {
    margin: 15px 0;
   }
   .experience-item__p {
    font-size: 14px;
   }
  .footer-item__logo {
    width: 60px;
    height: 60px;
  }
  .tech-skills__title {
    font-size: 18px;
    text-align: center;
  }
  /*right part*/
  .tech-skills__technology {
    font-size: 14px;
  }
  .my-prodjects__title {
    font-size: 18px;
    text-align: center;
  }
  .code-exemples {
    font-size: 17px;
    text-align: center;
  }
  .code__code-exemples {
    font-size: 7px;
    right: 80px;
  }
}